
<div class="container">
    <h1>こんにちは！</h1>
    <div class="row">
    <ng-container>
      <div class="col"  *ngFor="let item of produts; let productId = index">
          <a [routerLink]="[productId]">
              <div class="card">
                  <img src="./assets/img/placeholder300.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </div>
          </a> 
      </div>
    </ng-container>
    </div>
  </div>